h1 {
font-family: "Palatino";
font-size: 75px;
font-weight: 10px;
color: #FA8072; 
text-align: center;
}


h3 {
font-family: "Palatino";
font-size: 20px;
}

.timer {
padding-top: 10px;
text-align: center

}


body {
	background-image: url("../images/skulls.png");
}

.quiz {
  margin-top: 20px;
  text-align: center;
  border-style: solid;
}

#start{
  margin-top: 10%;
  border:2px solid #FA8072;
  background: #FFF5EE;;
}

#question{
  border-style: solid;

}

button{
  display:block;
  width:50%;
  height:20%;
  margin: 0 auto;
  border:none;
  font-size: 30px;;
}